<body class="d-flex flex-column min-vh-100">

<div class="footer mt-auto text-center">
    <span id="bottom">
        <hr>
        <p>
            Copyright 2022 © Let's Meet
       </p>
    </span>
  </div>

</body>
</html>
