<%- include('partials/header') %>


  <div class="jumbotron centered">
    <div class="container">
      <h1 class="display-3">Let's Meet</h1>
      <p class="lead">Connect through us</p>
      <hr>
      <a class="btn btn-primary" href="/register" role="button">Register</a>
      <a class="btn btn-primary" href="/login" role="button">Login</a>

    </div>
  </div>

  <%- include('partials/footer') %>